<figure class="md:flex bg-pocket_yellow_p-300 
hover:cursor-pointer
rounded-[4rem] h-40 p-0 dark:bg-pocket_yellow_p-300 overflow-hidden text-ellipsis">
    <img class="w-48 mx-0 object-cover"
         [src]="item.img"
         alt="">
    <div class="py-4 px-2 text-center md:text-left space-y-4">
        <figcaption class="font-medium text-ellipsis">
            <div class="text-lg text-slate-700 dark:text-slate-500">
                {{item.name}}
            </div>
        </figcaption>
        <blockquote class="text-ellipsis">
            <p class="">
                {{item.description}}
            </p>
        </blockquote>
    </div>
</figure>