<div class="h-screen flex min-h-full">

  <div class="relative hidden flex-1 lg:block w-1/2 bg-pocket_orange">
    <img class="p-24 absolute inset-0 h-full w-full object-contain"
         src="/assets/img/splash.png"
         alt="">
  </div>
  <div
       class="flex flex-1 w-1/2 flex-col justify-center bg-pocket_purple px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full">
      <form [formGroup]="form"
            (submit)="register()">
        <div class="flex flex-col items-center gap-2"
             [ngSwitch]="step">
          <div *ngSwitchCase="1"
               class="flex flex-col items-center gap-2">
            <h1 class="text-[48px] font-bold text-white">Inserisci i tuoi dati generici</h1>
            <div class="px-10">
              <input type="text"
                     name="name"
                     id="name"
                     formControlName="name"
                     class="block w-full rounded-full border-0 px-4 py-1.5 text-pocket_purple_p-900 shadow-sm ring-1 ring-inset ring-pocket_purple_p-300 placeholder:text-pocket_purple_p-400 focus:ring-2 focus:ring-inset focus:ring-pocket_purple_p-600 text-4xl sm:leading-6"
                     placeholder="Nome">
            </div>
            <div class="px-10">
              <input type="text"
                     name="email"
                     id="email"
                     formControlName="email"
                     class="block w-full rounded-full border-0 px-4 py-1.5 text-pocket_purple_p-900 shadow-sm ring-1 ring-inset ring-pocket_purple_p-300 placeholder:text-pocket_purple_p-400 focus:ring-2 focus:ring-inset focus:ring-pocket_purple_p-600 text-4xl sm:leading-6"
                     placeholder="Email">
            </div>
            <div class="px-10">
              <input type="password"
                     name="password"
                     id="password"
                     formControlName="password"
                     class="block w-full rounded-full border-0 px-4 py-1.5 text-pocket_purple_p-900 shadow-sm ring-1 ring-inset ring-pocket_purple_p-300 placeholder:text-pocket_purple_p-400 focus:ring-2 focus:ring-inset focus:ring-pocket_purple_p-600 text-4xl sm:leading-6"
                     placeholder="Password">
            </div>
            <div class="px-10">
              <input type="password"
                     name="repeat-password"
                     id="repeat-password"
                     formControlName="repeat-password"
                     class="block w-full rounded-full border-0 px-4 py-1.5 text-pocket_purple_p-900 shadow-sm ring-1 ring-inset ring-pocket_purple_p-300 placeholder:text-pocket_purple_p-400 focus:ring-2 focus:ring-inset focus:ring-pocket_purple_p-600 text-4xl sm:leading-6"
                     placeholder="Conferma Password">
            </div>
          </div>
          <div *ngSwitchCase="2"
               class="flex flex-col items-center gap-2">
            <h1 class="text-[48px] font-bold text-white">Inserisci i tuoi dati specifici</h1>
            <div class="px-10">
              <input type="text"
                     name="company-name"
                     id="company-name"
                     formControlName="company-name"
                     class="block w-full rounded-full border-0 px-4 py-1.5 text-pocket_purple_p-900 shadow-sm ring-1 ring-inset ring-pocket_purple_p-300 placeholder:text-pocket_purple_p-400 focus:ring-2 focus:ring-inset focus:ring-pocket_purple_p-600 text-4xl sm:leading-6"
                     placeholder="Ragione Sociale">
            </div>
            <div class="px-10">
              <input type="text"
                     name="vat"
                     id="vat"
                     formControlName="vat"
                     class="block w-full rounded-full border-0 px-4 py-1.5 text-pocket_purple_p-900 shadow-sm ring-1 ring-inset ring-pocket_purple_p-300 placeholder:text-pocket_purple_p-400 focus:ring-2 focus:ring-inset focus:ring-pocket_purple_p-600 text-4xl sm:leading-6"
                     placeholder="PIVA">
            </div>
            <div class="px-10">
              <input type="text"
                     name="address"
                     id="address"
                     formControlName="address"
                     class="block w-full rounded-full border-0 px-4 py-1.5 text-pocket_purple_p-900 shadow-sm ring-1 ring-inset ring-pocket_purple_p-300 placeholder:text-pocket_purple_p-400 focus:ring-2 focus:ring-inset focus:ring-pocket_purple_p-600 text-4xl sm:leading-6"
                     placeholder="Indirizzo">
            </div>
            <div class="px-10">
              <input type="text"
                     name="provincia"
                     id="provincia"
                     formControlName="province"
                     class="block w-full rounded-full border-0 px-4 py-1.5 text-pocket_purple_p-900 shadow-sm ring-1 ring-inset ring-pocket_purple_p-300 placeholder:text-pocket_purple_p-400 focus:ring-2 focus:ring-inset focus:ring-pocket_purple_p-600 text-4xl sm:leading-6"
                     placeholder="Provincia">
            </div>
            <div class="px-10">
              <input type="text"
                     name="cap"
                     id="cap"
                     formControlName="cap"
                     class="block w-full rounded-full border-0 px-4 py-1.5 text-pocket_purple_p-900 shadow-sm ring-1 ring-inset ring-pocket_purple_p-300 placeholder:text-pocket_purple_p-400 focus:ring-2 focus:ring-inset focus:ring-pocket_purple_p-600 text-4xl sm:leading-6"
                     placeholder="CAP">
            </div>
          </div>
          <div *ngSwitchCase="3"
               class="flex flex-col items-center gap-2">
            <h1 class="text-[48px] font-bold text-center text-white">Inserisci i tuoi documenti che attestano che tratti
              prodotti made in Italy</h1>
            <div class="flex items-center justify-center w-full">
              <label for="dropzone-file"
                     class="flex flex-col items-center justify-center w-full h-40 md:w-80 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                  <img class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                       src="/assets/img/folder-icon.png"
                       alt="">

                  <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Clicca per
                      caricare
                    </span> o trascina sopra</p>
                  <p class="text-xs text-gray-500 dark:text-gray-400">PDF</p>
                </div>
                <input id="dropzone-file"
                       type="file"
                       class="hidden" />
              </label>
            </div>
          </div>
          <div *ngSwitchCase="4"
               class="flex flex-col items-center gap-2">
            <h1 class="text-[48px] font-bold text-center text-white">Grazie di aver completato la procedura di
              registrazione
            </h1>
            <h1 class="text-[36px] font-semibold text-center text-white">Dopo una verifica svolta dei nostri operatori
              ti
              invieremo una mail
              di conferma </h1>
          </div>
          <div class="mt-10 w-full flex justify-center">
            <button type="button"
                    *ngIf="step !== 4"
                    class="flex justify-center rounded-full bg-pocket_yellow px-20 py-5 text-[32px] font-normal leading-8 text-black shadow-sm hover:bg-pocket_yellow_p-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pocket_yellow_p-600"
                    (click)="goNext()">
              Avanti
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
