<div class="flex flex-col">
    <h2>Segnalazione n. 568</h2>
    <div>
        <h3>Dati geospaziali</h3>
        <span><b>Lat:</b> 35.2912131312</span>
        <span><b>Log:</b> 44.281312231</span>
        <span><b>Comune:</b> Albignasego (PD)</span>


    </div>
    <div>
        <h3>Dati generali</h3>
        <span><b>Grado contraffazione:</b> 32</span>
        <span><b>Esito:</b> probabile contraffatto</span>
        <span><b>Tipologia di scansione:</b> visione</span>
    </div>
    <div>
        <h3>Dati aggregati</h3>
        <span><b>Segnalazioni positive vicine:</b> 3</span>
        <span><b>Segnalazioni negative vicine:</b> 6</span>
    </div>
</div>