<div class="relative overflow-x-auto overflow-y-auto shadow-md sm:rounded-lg h-92">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-pocket_yellow dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th *ngFor="let item of headerList"
            scope="col"
            class="px-6 py-3">
          {{item.label}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataTable; let i = index"
          (click)="clickRow(i)"
          [ngClass]="i === indexClicked ? 'bg-pocket_purple text-white': 'odd:bg-white even:bg-gray-50 odd:dark:bg-gray-900 even:dark:bg-gray-800'"
          class=" border-b dark:border-gray-700">
        <td *ngFor="let hKey of headerKeys"
            class="px-6 py-4">
          {{item[hKey]}}
        </td>
        <!-- <td class="px-6 py-4">
          <button (click)="detail(item)">Visualizza</button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>