@tailwind base;
@tailwind components;
@tailwind utilities;

.popupCustom .leaflet-popup-tip,    
.popupCustom .leaflet-popup-content-wrapper {
    background: #8C5383;
    color: #ffffff;
}
.popupCustom .leaflet-popup-content {
    margin: 13px 13px 13px 13px;
}